
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
body {
 background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 80%);
 background-size: 1000px 1000px;
}
h1{
text-shadow : 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
letter-spacing : 5px;
}




* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 520px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
  }


@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

